@keyframes r14vlhb {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
@layer pigment.base {
  .c194j3ko {
    animation: r14vlhb 2s ease-out 0s infinite;
    margin-left: 10px;
  }
}
@layer pigment.base {
  :dir(rtl) .c194j3ko {
    animation: r14vlhb 2s ease-out 0s infinite;
    margin-left: 10px;
  }
}
@layer pigment.base {
  .sgip8u5 {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-top-left-radius: 3px;
  }
}
@layer pigment.base {
  :dir(rtl) .sgip8u5 {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-top-left-radius: 3px;
  }
}
@layer pigment.override {
  .sgip8u5-1 {
    font-size: 1.5rem;
  }
}
@layer pigment.override {
  :dir(rtl) .sgip8u5-1 {
    font-size: 1.5rem;
  }
}
@layer pigment.base {
  .smip3v5 .sgip8u5 {
    padding-inline-start: none;
    margin: 0px 10px 10px 30px;
  }
}
@layer pigment.base {
  :dir(rtl) .smip3v5 .sgip8u5 {
    padding-inline-start: none;
    margin: 0px 10px 10px 30px;
  }
}
