.oqpebcq {
  padding: 16.5px 14px;
}
.oqpebcq-1 {
  padding: 8.5px 14px;
}
.oqpebcq-2 {
  padding: 0;
}
.oqpebcq-3 {
  padding-left: 0;
}
.oqpebcq-4 {
  padding-right: 0;
}
.oqpebcq-5 {
  padding-left: 10px;
}
.oqpebcq-6 {
  padding: 9px 14.5px;
}
