@keyframes r1sz5zcv {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@layer pigment.base {
  .c1aiqtje {
    color: #ff5252;
    animation: r1sz5zcv 2s ease-out 0s infinite;
  }
}
@layer pigment.base {
  .sj0zd45 {
    display: block;
    position: absolute;
    border-radius: inherit;
    background-color: currentColor;
    opacity: 0.38;
  }
}
@layer pigment.base {
  .shdkmm7 {
    display: block;
    opacity: 0.38;
  }
  .shdkmm7 .sj0zd45 {
    display: none;
  }
}
