@layer pigment.base {
  .o1ei225m {
    padding: 16.5px 14px;
  }
}
@layer pigment.variant {
  .o1ei225m-1 {
    padding: 8.5px 14px;
  }
}
@layer pigment.variant {
  .o1ei225m-2 {
    padding: 0;
  }
}
@layer pigment.variant {
  .o1ei225m-3 {
    padding-left: 0;
  }
}
@layer pigment.variant {
  .o1ei225m-4 {
    padding-right: 0;
  }
}
@layer pigment.override {
  .o1ei225m-5 {
    padding-left: 10px;
  }
}
@layer pigment.variant {
  .o1ei225m-6 {
    padding: 9px 14.5px;
  }
}
