@keyframes rmbqoav {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.c18u98at {
  color: #ff5252;
  animation: rmbqoav 2s ease-out 0s infinite;
}
.s1d2yhn4 {
  display: block;
  position: absolute;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0.38;
}
.s17p3km3 {
  display: block;
  opacity: 0.38;
}
.s17p3km3 .s1d2yhn4 {
  display: none;
}
