.njazm0b {
  border-color: red;
}
.njazm0b-1 {
  border: none;
}
.o8d5r3t {
  padding: 16.5px 14px;
}

/* this style should be last */
.o8d5r3t-1 {
  padding-left: 10px;
}
.o8d5r3t-2 {
  padding: 8.5px 14px;
}
.o8d5r3t-3 {
  padding: 0;
}
.o8d5r3t-4 {
  padding-left: 0;
}
.o8d5r3t-5 {
  padding-right: 0;
}
