@keyframes rewlasw {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.c1gnxion {
  animation: rewlasw 2s ease-out 0s infinite;
  margin-left: 10px;
}
:dir(rtl) .c1gnxion {
  animation: rewlasw 2s ease-out 0s infinite;
  margin-right: 10px;
}
.sytgj48 {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 3px;
}
:dir(rtl) .sytgj48 {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  border-top-right-radius: 3px;
}
.sytgj48-1 {
  font-size: 1.5rem;
}
:dir(rtl) .sytgj48-1 {
  font-size: 1.5rem;
}
.sgipd9n .sytgj48 {
  padding-inline-start: none;
  margin: 0px 10px 10px 30px;
}
:dir(rtl) .sgipd9n .sytgj48 {
  padding-inline-start: none;
  margin: 0px 30px 10px 10px;
}
