/.git
/.yarn
/benchmark/**/dist
/coverage
/docs/export
/docs/pages/playground/
/packages/pigment-css-react/utils/
/packages/pigment-css-react/processors/
/packages/pigment-css-react/exports/
/packages/pigment-css-react/theme/
/packages/pigment-css-react/tests/**/fixtures
/packages/pigment-css-nextjs-plugin/loader.js
/tmp
.next
build
node_modules
.nyc_output
pnpm-lock.yaml

# These come from crowdin.
# If we would commit changes crowdin would immediately try to revert.
# If we want to format these files we'd need to do it in crowdin
docs/**/*-pt.md
docs/**/*-zh.md
