/.git
/benchmark/**/dist
/coverage
/docs/export
/docs/pages/playground/
/packages/pigment-css-react/utils/
/packages/pigment-css-react/processors/
/packages/pigment-css-react/internal/
/packages/pigment-css-react/exports/
/packages/pigment-css-react/theme/
/packages/pigment-css-react/tests/**/fixtures
/packages/pigment-css-core/exports/
/packages/pigment-css-core/tests/**/fixtures
/packages/pigment-css-react-new/exports/
/packages/pigment-css-react-new/tests/**/fixtures
/packages/pigment-css-nextjs-plugin/loader.js
# Ignore fixtures
/packages-internal/scripts/typescript-to-proptypes/test/*/*
/test/bundling/fixtures/**/*.fixture.js
# just an import that reports eslint errors depending on whether the fixture (which is not checked in) exists
/test/bundling/fixtures/create-react-app/src/index.js
/test/bundling/fixtures/gatsby/.cache
/test/bundling/fixtures/gatsby/public
/test/bundling/fixtures/gatsby/public
/test/karma.conf.js
/test/karma.conf.profile.js
/test/regressions/**/*
/tmp
.next
build
node_modules
.nyc_output
pnpm-lock.yaml

# These come from crowdin.
# If we would commit changes crowdin would immediately try to revert.
# If we want to format these files we'd need to do it in crowdin
docs/**/*-pt.md
docs/**/*-zh.md
