.g1s0u14x1 {
  flex-direction: column;
}
.g1s0u14x2 {
  flex-direction: column-reverse;
}
.g1s0u14x3 {
  flex-direction: row;
}
.g1s0u14x4 {
  flex-direction: row-reverse;
}
.g1s0u14x5 {
  --Grid-parent-column-count: var(--Grid-parent-column-count-xs);
}
.g1s0u14x6 {
  --Grid-parent-column-spacing: var(--Grid-parent-column-spacing-xs);
}
.g1s0u14x7 {
  --Grid-parent-row-spacing: var(--Grid-parent-row-spacing-xs);
}
.g1s0u14x8 {
  --Grid-self-column-span: var(--Grid-self-column-span-xs);
}
.g1s0u14x9 {
  --Grid-self-width: var(--Grid-self-width-xs);
}
.g1s0u14x10 {
  --Grid-self-max-width: var(--Grid-self-max-width-xs);
}
.g1s0u14x11 {
  --Grid-self-flex: var(--Grid-self-flex-xs);
}
.g1s0u14x12 {
  --Grid-self-column-spacing: var(--Grid-self-column-spacing-xs);
}
.g1s0u14x13 {
  --Grid-self-row-spacing: var(--Grid-self-row-spacing-xs);
}
.g1s0u14x14 {
  --Grid-self-offset: var(--Grid-self-offset-xs);
}
.g1s0u14x15 {
  --Grid-self-margin-left: var(--Grid-self-margin-left-xs);
}
@media (min-width: 600px) {
  .g1s0u14x16 {
    flex-direction: column;
  }
}
@media (min-width: 600px) {
  .g1s0u14x17 {
    flex-direction: column-reverse;
  }
}
@media (min-width: 600px) {
  .g1s0u14x18 {
    flex-direction: row;
  }
}
@media (min-width: 600px) {
  .g1s0u14x19 {
    flex-direction: row-reverse;
  }
}
@media (min-width: 600px) {
  .g1s0u14x20 {
    --Grid-parent-column-count: var(--Grid-parent-column-count-sm);
  }
}
@media (min-width: 600px) {
  .g1s0u14x21 {
    --Grid-parent-column-spacing: var(--Grid-parent-column-spacing-sm);
  }
}
@media (min-width: 600px) {
  .g1s0u14x22 {
    --Grid-parent-row-spacing: var(--Grid-parent-row-spacing-sm);
  }
}
@media (min-width: 600px) {
  .g1s0u14x23 {
    --Grid-self-column-span: var(--Grid-self-column-span-sm);
  }
}
@media (min-width: 600px) {
  .g1s0u14x24 {
    --Grid-self-width: var(--Grid-self-width-sm);
  }
}
@media (min-width: 600px) {
  .g1s0u14x25 {
    --Grid-self-max-width: var(--Grid-self-max-width-sm);
  }
}
@media (min-width: 600px) {
  .g1s0u14x26 {
    --Grid-self-flex: var(--Grid-self-flex-sm);
  }
}
@media (min-width: 600px) {
  .g1s0u14x27 {
    --Grid-self-column-spacing: var(--Grid-self-column-spacing-sm);
  }
}
@media (min-width: 600px) {
  .g1s0u14x28 {
    --Grid-self-row-spacing: var(--Grid-self-row-spacing-sm);
  }
}
@media (min-width: 600px) {
  .g1s0u14x29 {
    --Grid-self-offset: var(--Grid-self-offset-sm);
  }
}
@media (min-width: 600px) {
  .g1s0u14x30 {
    --Grid-self-margin-left: var(--Grid-self-margin-left-sm);
  }
}
@media (min-width: 900px) {
  .g1s0u14x31 {
    flex-direction: column;
  }
}
@media (min-width: 900px) {
  .g1s0u14x32 {
    flex-direction: column-reverse;
  }
}
@media (min-width: 900px) {
  .g1s0u14x33 {
    flex-direction: row;
  }
}
@media (min-width: 900px) {
  .g1s0u14x34 {
    flex-direction: row-reverse;
  }
}
@media (min-width: 900px) {
  .g1s0u14x35 {
    --Grid-parent-column-count: var(--Grid-parent-column-count-md);
  }
}
@media (min-width: 900px) {
  .g1s0u14x36 {
    --Grid-parent-column-spacing: var(--Grid-parent-column-spacing-md);
  }
}
@media (min-width: 900px) {
  .g1s0u14x37 {
    --Grid-parent-row-spacing: var(--Grid-parent-row-spacing-md);
  }
}
@media (min-width: 900px) {
  .g1s0u14x38 {
    --Grid-self-column-span: var(--Grid-self-column-span-md);
  }
}
@media (min-width: 900px) {
  .g1s0u14x39 {
    --Grid-self-width: var(--Grid-self-width-md);
  }
}
@media (min-width: 900px) {
  .g1s0u14x40 {
    --Grid-self-max-width: var(--Grid-self-max-width-md);
  }
}
@media (min-width: 900px) {
  .g1s0u14x41 {
    --Grid-self-flex: var(--Grid-self-flex-md);
  }
}
@media (min-width: 900px) {
  .g1s0u14x42 {
    --Grid-self-column-spacing: var(--Grid-self-column-spacing-md);
  }
}
@media (min-width: 900px) {
  .g1s0u14x43 {
    --Grid-self-row-spacing: var(--Grid-self-row-spacing-md);
  }
}
@media (min-width: 900px) {
  .g1s0u14x44 {
    --Grid-self-offset: var(--Grid-self-offset-md);
  }
}
@media (min-width: 900px) {
  .g1s0u14x45 {
    --Grid-self-margin-left: var(--Grid-self-margin-left-md);
  }
}
@media (min-width: 1200px) {
  .g1s0u14x46 {
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .g1s0u14x47 {
    flex-direction: column-reverse;
  }
}
@media (min-width: 1200px) {
  .g1s0u14x48 {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .g1s0u14x49 {
    flex-direction: row-reverse;
  }
}
@media (min-width: 1200px) {
  .g1s0u14x50 {
    --Grid-parent-column-count: var(--Grid-parent-column-count-lg);
  }
}
@media (min-width: 1200px) {
  .g1s0u14x51 {
    --Grid-parent-column-spacing: var(--Grid-parent-column-spacing-lg);
  }
}
@media (min-width: 1200px) {
  .g1s0u14x52 {
    --Grid-parent-row-spacing: var(--Grid-parent-row-spacing-lg);
  }
}
@media (min-width: 1200px) {
  .g1s0u14x53 {
    --Grid-self-column-span: var(--Grid-self-column-span-lg);
  }
}
@media (min-width: 1200px) {
  .g1s0u14x54 {
    --Grid-self-width: var(--Grid-self-width-lg);
  }
}
@media (min-width: 1200px) {
  .g1s0u14x55 {
    --Grid-self-max-width: var(--Grid-self-max-width-lg);
  }
}
@media (min-width: 1200px) {
  .g1s0u14x56 {
    --Grid-self-flex: var(--Grid-self-flex-lg);
  }
}
@media (min-width: 1200px) {
  .g1s0u14x57 {
    --Grid-self-column-spacing: var(--Grid-self-column-spacing-lg);
  }
}
@media (min-width: 1200px) {
  .g1s0u14x58 {
    --Grid-self-row-spacing: var(--Grid-self-row-spacing-lg);
  }
}
@media (min-width: 1200px) {
  .g1s0u14x59 {
    --Grid-self-offset: var(--Grid-self-offset-lg);
  }
}
@media (min-width: 1200px) {
  .g1s0u14x60 {
    --Grid-self-margin-left: var(--Grid-self-margin-left-lg);
  }
}
@media (min-width: 1536px) {
  .g1s0u14x61 {
    flex-direction: column;
  }
}
@media (min-width: 1536px) {
  .g1s0u14x62 {
    flex-direction: column-reverse;
  }
}
@media (min-width: 1536px) {
  .g1s0u14x63 {
    flex-direction: row;
  }
}
@media (min-width: 1536px) {
  .g1s0u14x64 {
    flex-direction: row-reverse;
  }
}
@media (min-width: 1536px) {
  .g1s0u14x65 {
    --Grid-parent-column-count: var(--Grid-parent-column-count-xl);
  }
}
@media (min-width: 1536px) {
  .g1s0u14x66 {
    --Grid-parent-column-spacing: var(--Grid-parent-column-spacing-xl);
  }
}
@media (min-width: 1536px) {
  .g1s0u14x67 {
    --Grid-parent-row-spacing: var(--Grid-parent-row-spacing-xl);
  }
}
@media (min-width: 1536px) {
  .g1s0u14x68 {
    --Grid-self-column-span: var(--Grid-self-column-span-xl);
  }
}
@media (min-width: 1536px) {
  .g1s0u14x69 {
    --Grid-self-width: var(--Grid-self-width-xl);
  }
}
@media (min-width: 1536px) {
  .g1s0u14x70 {
    --Grid-self-max-width: var(--Grid-self-max-width-xl);
  }
}
@media (min-width: 1536px) {
  .g1s0u14x71 {
    --Grid-self-flex: var(--Grid-self-flex-xl);
  }
}
@media (min-width: 1536px) {
  .g1s0u14x72 {
    --Grid-self-column-spacing: var(--Grid-self-column-spacing-xl);
  }
}
@media (min-width: 1536px) {
  .g1s0u14x73 {
    --Grid-self-row-spacing: var(--Grid-self-row-spacing-xl);
  }
}
@media (min-width: 1536px) {
  .g1s0u14x74 {
    --Grid-self-offset: var(--Grid-self-offset-xl);
  }
}
@media (min-width: 1536px) {
  .g1s0u14x75 {
    --Grid-self-margin-left: var(--Grid-self-margin-left-xl);
  }
}
.g1i5ygey {
  --Grid-fixed-width: calc(
    100% * var(--Grid-self-column-span) / var(--Grid-parent-column-count) -
      (var(--Grid-parent-column-count) - var(--Grid-self-column-span)) *
      var(--Grid-parent-column-spacing) / var(--Grid-parent-column-count)
  );
  --Grid-fixed-offset: calc(
    100% * var(--Grid-self-offset) / var(--Grid-parent-column-count) +
      var(--Grid-parent-column-spacing) * var(--Grid-self-offset) / var(--Grid-parent-column-count)
  );
}
.g1i5ygey-1 {
  display: flex;
  gap: var(--Grid-self-row-spacing) var(--Grid-self-column-spacing);
}
.g1i5ygey-2 {
  width: var(--Grid-self-width);
  max-width: var(--Grid-self-max-width);
  flex: var(--Grid-self-flex);
}
.g1i5ygey-3 {
  margin-left: var(--Grid-self-margin-left);
}
.g1i5ygey-4 {
  flex-wrap: nowrap;
}
.g1i5ygey-5 {
  flex-wrap: wrap-reverse;
}
.g1i5ygey-6 {
  flex-wrap: wrap;
}
