@layer pigment.sx {
  .dnf03uj {
    opacity: 1;
  }
}
@layer pigment.sx {
  .dsvwfmp {
    color: red;
  }
}
@layer pigment.sx {
  .d121rcfp {
    color: green;
  }
}
@layer pigment.sx {
  .schfkcb {
    color: var(--schfkcb-0);
  }
}
@layer pigment.sx {
  .s1cp79ho {
    background-color: blue;
    color: white;
  }
}
@layer pigment.sx {
  .soyt4ij {
    border: 1px solid red;
  }
}
@layer pigment.sx {
  .sr48wd1 {
    color: green;
  }
}
@layer pigment.sx {
  .s6s70bv {
    color: var(--s6s70bv-0);
  }
}
@layer pigment.sx {
  .s1v8upwb {
    opacity: 1;
  }
}
@layer pigment.sx {
  .sjtfjpx {
    color: red;
  }
}
@layer pigment.sx {
  .s1r80n7h {
    color: green;
  }
}
@layer pigment.sx {
  .s1gu7ed8 {
    border: 1px solid red;
  }
}
@layer pigment.sx {
  .s1h4vmh2 {
    opacity: 0.4;
  }
}
@layer pigment.sx {
  .s1oy2sl1 {
    color: red;
  }
}
@layer pigment.sx {
  .s14d8kn5 {
    border: 1px solid red;
  }
}
@layer pigment.sx {
  .s1su4mia {
    color: var(--s1su4mia-0);
  }
}
