.dnf03uj {
  opacity: 1;
}
.dsvwfmp {
  color: red;
}
.d121rcfp {
  color: green;
}
.schfkcb {
  color: var(--schfkcb-0);
}
.s1cp79ho {
  background-color: blue;
  color: white;
}
.soyt4ij {
  border: 1px solid red;
}
.sr48wd1 {
  color: green;
}
.s6s70bv {
  color: var(--s6s70bv-0);
}
.s1v8upwb {
  opacity: 1;
}
.sjtfjpx {
  color: red;
}
.s1r80n7h {
  color: green;
}
.s1gu7ed8 {
  border: 1px solid red;
}
.s1h4vmh2 {
  opacity: 0.4;
}
.s1oy2sl1 {
  color: red;
}
.s14d8kn5 {
  border: 1px solid red;
}
.s1su4mia {
  color: var(--s1su4mia-0);
}
