.d77f2qa {
  opacity: 1;
}
.d7xe34b {
  color: red;
}
.d1c7ydi9 {
  color: green;
}
.s1f8s81x {
  color: var(--s1f8s81x-0);
}
.svfluak {
  background-color: blue;
  color: white;
}
.sv5tf3c {
  border: 1px solid red;
}
.s5gn2mm {
  color: green;
}
.s150l9nl {
  color: var(--s150l9nl-0);
}
.sh10a0 {
  opacity: 1;
}
.sylg5x2 {
  color: red;
}
.s96muxz {
  color: green;
}
.s1g57qnj {
  border: 1px solid red;
}
.s1k5bcbo {
  opacity: 0.4;
}
.so7h5fe {
  color: red;
}
.s1feokgc {
  border: 1px solid red;
}
.s1vdrnlm {
  color: var(--s1vdrnlm-0);
}
