.sms9jur {
  display: flex;
  flex-direction: column;
}
.s1934eew {
  display: flex;
  flex-direction: column;
}
.sx1n5bw {
  color: red;
}
@media (prefers-color-scheme: dark) {
  .sx1n5bw {
    color: white;
  }
}
.s1uhwhc6 {
  opacity: 0.4;
}
.sr0l0wy {
  color: red;
}
.s1tnwy45 {
  color: var(--s1tnwy45-0);
}
.s14rwdtw {
  border: 0px solid;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.su4gtw5 {
  border: 0px solid;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
