.s5molx8 {
  color: red;
}
@media (prefers-color-scheme: dark) {
  .s5molx8 {
    color: white;
  }
}
.s7fszdm {
  opacity: 0.4;
}
.s2bbd3t {
  color: red;
}
.s1ou6jyi {
  color: var(--s1ou6jyi-0);
}
