.s5molx8 {
  display: flex;
  flex-direction: column;
}
.s7fszdm {
  display: flex;
  flex-direction: column;
}
.s2bbd3t {
  color: red;
}
@media (prefers-color-scheme: dark) {
  .s2bbd3t {
    color: white;
  }
}
.s1ou6jyi {
  opacity: 0.4;
}
.s1lqy6hu {
  color: red;
}
.swssabr {
  color: var(--swssabr-0);
}
.sblg7d5 {
  border: none;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.s1xq3929 {
  border: none;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
