.syo8irh {
  display: block;
  position: absolute;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0.38;
  font-size: 3rem;
}
.syo8irh-1 {
  font-size: 3rem;
}
.s1g6t5jc {
  margin-bottom: 8px;
}
@media (prefers-color-scheme: dark) {
  .s1g6t5jc {
    color: white;
  }
}
.ska13jz {
  border-radius: 8px;
  margin: 5px;
}
.ska13jz.MuiAutocomplete-option {
  padding: 8px;
}
.s17in6il {
  color: red;
  font-size: var(--s17in6il-0);
}
@media (min-width: 0px) {
  .s17in6il :hover {
    background-color: red;
  }
}
@media (min-width: 600px) {
  .s17in6il :hover {
    background-color: blue;
    color: red;
  }
}
@media (min-width: 900px) {
  .s17in6il :hover {
    color: blue;
  }
}
