.s18b79se {
  display: block;
  position: absolute;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0.38;
  font-size: 3rem;
}
.s18b79se-1 {
  font-size: 3rem;
}
.s6m0ihh {
  color: red;
}
.s1kwvbjk {
  color: var(--s1kwvbjk-0);
}
.s1cp99fn {
  background-color: blue;
  color: white;
}
.s1w3gk0m {
  color: var(--s1w3gk0m-0);
}
.s399llo {
  margin-bottom: 8px;
  text-align: center;
}
.s1t8z5o6 {
  border: 0px solid;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.s1f34qq2 {
  border: 0px solid;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
