.dark-mode {
  color-scheme: dark;
  --color-gray-50: oklch(17% 0.25% 264);
  --color-gray-75: oklch(19% 0.5% 264);
  --color-gray-100: oklch(28% 0.75% 264 / 65%);
  --color-gray-200: oklch(29% 0.75% 264 / 80%);
  --color-gray-300: oklch(35% 0.75% 264 / 80%);
  --color-gray-400: oklch(47% 0.875% 264 / 80%);
  --color-gray-500: oklch(64% 1% 264 / 80%);
  --color-gray-600: oklch(82% 1% 264 / 80%);
  --color-gray-700: oklch(92% 1.125% 264 / 80%);
  --color-gray-800: oklch(93% 0.875% 264 / 85%);
  --color-gray-900: oklch(95% 0.5% 264 / 90%);
  --color-gray-950: oklch(94% 0.375% 264 / 95%);

  /* Functional colors */
  --color-content: black;
  --color-background: black;
  --color-foreground: oklch(90% 2% 264);
  --color-popup: var(--color-gray-50);
  --color-gridline: oklch(24% 1% 264);
  --color-highlight: oklch(45% 40% 264);
  --color-selection: oklch(50% 50% 264 / 40%);
  --color-line-highlight: oklch(50% 50% 264 / 20%);
  --color-line-highlight-strong: oklch(50% 50% 264 / 35%);
  --color-inline-highlight: oklch(50% 50% 264 / 35%);

  /* Text colors */
  --color-gray: var(--color-gray-600);
  --color-blue: oklch(69% 50% 264);
  --color-green: oklch(75% 25% 150);
  --color-navy: oklch(85% 25% 264);
  --color-purple: oklch(85% 30% 360);
  --color-red: oklch(80% 55% 31);
  --color-violet: oklch(80% 60% 280);
}
@layer pigment.globals {
  *,
  ::backdrop,
  :after,
  :before {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  ::file-selector-button {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  :host,
  html {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    line-height: 1.5;
    font-family: var(
      --default-font-family,
      ui-sans-serif,
      system-ui,
      sans-serif,
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      'Noto Color Emoji'
    );
    font-feature-settings: var(--default-font-feature-settings, normal);
    font-variation-settings: var(--default-font-variation-settings, normal);
    -webkit-tap-highlight-color: transparent;
  }

  body {
    line-height: inherit;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  menu,
  ol,
  ul {
    list-style: none;
  }
}
