@keyframes r6toupf {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes rwg7boy {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
