/*
 * Legal Disclaimer for Web licence
 *
 * Licence to use self-hosted webfonts for displaying dynamic text on specified website domains. Our package includes WOFF and WOFF2 font formats.
 *
 * Should the license page views limit be exceeded the license holder will be required to contact Lineto.com for an upgrade.
 *
 * It is strictly prohibited to rename the font and to download or use these fonts in any other media.
 *
 * These Web fonts are licensed exclusively for the use on the following domain(s) and their subdomains:
 *
 * base-ui.com (monthly pageviews: < 250K)
 *
 */

@font-face {
  font-family: 'Unica 77';
  font-weight: normal;
  src: url('./fonts/regular.woff2');

  /* Default ascent/descent values for future reference */
  /* ascent-override: 97%; */
  /* descent-override: 24%; */
}

@font-face {
  font-family: 'Unica 77';
  font-weight: 500;
  src: url('./fonts/medium.woff2');
}

@font-face {
  font-family: 'Unica 77';
  font-weight: bold;
  src: url('./fonts/bold.woff2');
}

@font-face {
  font-family: 'SF Mono';
  font-weight: normal;
  src: local('SFMono-Regular'), local('ui-monospace');
  /* Match 14px Unica to 13.25px SF Mono */
  size-adjust: calc(100% * 13.25 / 14);
}

@font-face {
  font-family: 'SF Mono';
  font-weight: bold;
  src: local('SFMono-Bold'), local('ui-monospace');
  /* Match 14px Unica to 13.25px SF Mono */
  size-adjust: calc(100% * 13.25 / 14);
}

@font-face {
  font-family: 'Menlo';
  font-weight: normal;
  src: local('Menlo-Regular');
  /* Match other monospace fonts to SF Mono in width */
  size-adjust: calc(100% * 13.5 / 14);
  ascent-override: 95%;
}

@font-face {
  font-family: 'Menlo';
  font-weight: bold;
  src: local('Menlo-Bold');
  /* Match other monospace fonts to SF Mono in width */
  size-adjust: calc(100% * 13.5 / 14);
  ascent-override: 95%;
}

@font-face {
  font-family: 'Consolas';
  font-weight: normal;
  src: local('Consolas');
  /* Match other monospace fonts to SF Mono in width */
  size-adjust: calc(100% * 14.75 / 14);
  ascent-override: 85%;
}

@font-face {
  font-family: 'Consolas';
  font-weight: bold;
  src: local('Consolas-Bold');
  /* Match other monospace fonts to SF Mono in width */
  size-adjust: calc(100% * 14.75 / 14);
  ascent-override: 85%;
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  font-weight: normal;
  src: local('DejaVuSansMono');
  size-adjust: calc(100% * 13.5 / 14);
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  font-weight: bold;
  src: local('DejaVuSansMono-Bold');
  size-adjust: calc(100% * 13.5 / 14);
}

@font-face {
  font-family: 'Inconsolata';
  font-weight: normal;
  src: local('Inconsolata-Regular');
  size-adjust: calc(100% * 15.75 / 14);
}

@font-face {
  font-family: 'Inconsolata';
  font-weight: bold;
  src: local('Inconsolata-Bold');
  size-adjust: calc(100% * 15.75 / 14);
}
